In [10]:
!pip install pandas

Requirement already satisfied: pandas in /Users/derib/Documents/cours_unige/TechnologiesAndArchitectureForData/cours_moi/TP_code/.venv/lib/python3.13/site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in /Users/derib/Documents/cours_unige/TechnologiesAndArchitectureForData/cours_moi/TP_code/.venv/lib/python3.13/site-packages (from pandas) (2.2.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/derib/Documents/cours_unige/TechnologiesAndArchitectureForData/cours_moi/TP_code/.venv/lib/python3.13/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Users/derib/Documents/cours_unige/TechnologiesAndArchitectureForData/cours_moi/TP_code/.venv/lib/python3.13/site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /Users/derib/Documents/cours_unige/TechnologiesAndArchitectureForData/cours_moi/TP_code/.venv/lib/python3.13/site-packages (from pandas) (2025.1)
Requirement already satisfied: six>=1.5 in /Users/derib/Documents/cours_unige/TechnologiesAndArchitectureForData/cours_moi/TP_code/.venv/lib/python3.13/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [11]:
import sqlite3
import pandas as pd

## Create and populate database

In [ ]:
def create_and_populate_database(csv_file:str, db_name:str):
    """This function reads a CSV file and creates a SQLite database with the data.
    args:    
        csv_file: str: the path to the CSV file
        db_name: str: the name of the SQLite database
    """
    df = pd.read_csv(csv_file)
    countries = df['Country'].unique()
    sectors = [col for col in df.columns if col not in ['Country', 'Year','GDP','Urban_population']]
    conn = sqlite3.connect(db_name)
    cursor = conn.cursor()
    cursor.execute("""
        CREATE TABLE IF NOT EXISTS Country (
            country_id INTEGER PRIMARY KEY,
            country_name TEXT UNIQUE
        );
    """)
    
    cursor.execute("""
        CREATE TABLE IF NOT EXISTS Sector (
            sector_id INTEGER PRIMARY KEY,
            sector_name TEXT UNIQUE
        );
    """)
    
    cursor.execute("""
        CREATE TABLE IF NOT EXISTS CountrySectorData (
            id INTEGER PRIMARY KEY,
            country_id INTEGER,
            sector_id INTEGER,
            year INTEGER,
            value REAL,
            FOREIGN KEY (country_id) REFERENCES Country(country_id),
            FOREIGN KEY (sector_id) REFERENCES Sector(sector_id)
        );
    """)
    
    for country in countries:
        cursor.execute("INSERT OR IGNORE INTO Country (country_name) VALUES (?);", (country,))
    
    for sector in sectors:
        cursor.execute("INSERT OR IGNORE INTO Sector (sector_name) VALUES (?);", (sector,))
    
    for _, row in df.iterrows():
        country_name = row['Country']
        year = row['Year']
        cursor.execute("SELECT country_id FROM Country WHERE country_name = ?;", (country_name,))
        country_id = cursor.fetchone()[0]
        
        for sector in sectors:
            if pd.notna(row[sector]):  # Skip NaN values
                cursor.execute("SELECT sector_id FROM Sector WHERE sector_name = ?;", (sector,))
                sector_id = cursor.fetchone()[0]
                value = row[sector]
                cursor.execute("""
                    INSERT INTO CountrySectorData (country_id, sector_id, year, value)
                    VALUES (?, ?, ?, ?);
                """, (country_id, sector_id, year, value))
    
    conn.commit()
    conn.close()
    print(f"Database '{db_name}' has been created and populated successfully.")

In [13]:
csv_file_path = "/Users/derib/Downloads/pay_gap_Europe.csv"
database_name = "pay_gap_data_normalized.db" 

create_and_populate_database(csv_file_path, database_name)

Database 'pay_gap_data_normalized.db' has been created and populated successfully.

## Read into a database

In [ ]:
def read_table(database_name:str, request:str)->list:
    """This function reads a table from a SQLite database.
    args:
        database_name: str: the name of the SQLite database
        request: str: the SQL request to execute
    returns:
        result: list of tuples: the result of the SQL request
    """
    with sqlite3.connect(database_name) as conn:
        cur = conn.cursor()
        cur.execute(request)
        result = cur.fetchall()
        return result

In [15]:
query_table_country = "SELECT * from Country"

In [16]:
read_table('pay_gap_data_normalized.db',query_table_country)

[(1, 'Austria'),
 (2, 'Belgium'),
 (3, 'Bulgaria'),
 (4, 'Croatia'),
 (5, 'Cyprus'),
 (6, 'Czech Republic'),
 (7, 'Denmark'),
 (8, 'Estonia'),
 (9, 'Finland'),
 (10, 'France'),
 (11, 'Germany'),
 (12, 'Hungary'),
 (13, 'Italy'),
 (14, 'Latvia'),
 (15, 'Lithuania'),
 (16, 'Luxembourg'),
 (17, 'Malta'),
 (18, 'Netherlands'),
 (19, 'Norway'),
 (20, 'Poland'),
 (21, 'Portugal'),
 (22, 'Romania'),
 (23, 'Slovakia'),
 (24, 'Slovenia'),
 (25, 'Spain'),
 (26, 'Sweden'),
 (27, 'Switzerland')]

## Read from SQLite to pandas

In [ ]:
def read_table_pandas(database_name:str, query:str)->pd.DataFrame:
    """This function reads a table from a SQLite database into a pandas DataFrame.
    args:
        database_name: str: the name of the SQLite database
        query: str: the SQL query to execute    
    returns:
        df: pd.DataFrame: the result of the SQL query
    """
    con = sqlite3.connect(database_name)
    df = pd.read_sql_query(query, con)
    con.close()
    return df

In [18]:
read_table_pandas("pay_gap_data_normalized.db",query_table_country)

    country_id    country_name
0            1         Austria
1            2         Belgium
2            3        Bulgaria
3            4         Croatia
4            5          Cyprus
5            6  Czech Republic
6            7         Denmark
7            8         Estonia
8            9         Finland
9           10          France
10          11         Germany
11          12         Hungary
12          13           Italy
13          14          Latvia
14          15       Lithuania
15          16      Luxembourg
16          17           Malta
17          18     Netherlands
18          19          Norway
19          20          Poland
20          21        Portugal
21          22         Romania
22          23        Slovakia
23          24        Slovenia
24          25           Spain
25          26          Sweden
26          27     Switzerland