In [1]:
!pip install plotly
!pip install --upgrade nbformat

Requirement already satisfied: plotly in /Users/derib/Documents/cours_unige/TechnologiesAndArchitectureForData/cours_moi/TP_code/.venv/lib/python3.13/site-packages (6.0.0)
Requirement already satisfied: narwhals>=1.15.1 in /Users/derib/Documents/cours_unige/TechnologiesAndArchitectureForData/cours_moi/TP_code/.venv/lib/python3.13/site-packages (from plotly) (1.27.1)
Requirement already satisfied: packaging in /Users/derib/Documents/cours_unige/TechnologiesAndArchitectureForData/cours_moi/TP_code/.venv/lib/python3.13/site-packages (from plotly) (24.2)
Requirement already satisfied: nbformat in /Users/derib/Documents/cours_unige/TechnologiesAndArchitectureForData/cours_moi/TP_code/.venv/lib/python3.13/site-packages (5.10.4)
Requirement already satisfied: fastjsonschema>=2.15 in /Users/derib/Documents/cours_unige/TechnologiesAndArchitectureForData/cours_moi/TP_code/.venv/lib/python3.13/site-packages (from nbformat) (2.21.1)
Requirement already satisfied: jsonschema>=2.6 in /Users/derib/Documents/cours_unige/TechnologiesAndArchitectureForData/cours_moi/TP_code/.venv/lib/python3.13/site-packages (from nbformat) (4.23.0)
Requirement already satisfied: jupyter-core!=5.0.*,>=4.12 in /Users/derib/Documents/cours_unige/TechnologiesAndArchitectureForData/cours_moi/TP_code/.venv/lib/python3.13/site-packages (from nbformat) (5.7.2)
Requirement already satisfied: traitlets>=5.1 in /Users/derib/Documents/cours_unige/TechnologiesAndArchitectureForData/cours_moi/TP_code/.venv/lib/python3.13/site-packages (from nbformat) (5.14.3)
Requirement already satisfied: attrs>=22.2.0 in /Users/derib/Documents/cours_unige/TechnologiesAndArchitectureForData/cours_moi/TP_code/.venv/lib/python3.13/site-packages (from jsonschema>=2.6->nbformat) (25.1.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in /Users/derib/Documents/cours_unige/TechnologiesAndArchitectureForData/cours_moi/TP_code/.venv/lib/python3.13/site-packages (from jsonschema>=2.6->nbformat) (2024.10.1)
Requirement already satisfied: referencing>=0.28.4 in /Users/derib/Documents/cours_unige/TechnologiesAndArchitectureForData/cours_moi/TP_code/.venv/lib/python3.13/site-packages (from jsonschema>=2.6->nbformat) (0.36.2)
Requirement already satisfied: rpds-py>=0.7.1 in /Users/derib/Documents/cours_unige/TechnologiesAndArchitectureForData/cours_moi/TP_code/.venv/lib/python3.13/site-packages (from jsonschema>=2.6->nbformat) (0.22.3)
Requirement already satisfied: platformdirs>=2.5 in /Users/derib/Documents/cours_unige/TechnologiesAndArchitectureForData/cours_moi/TP_code/.venv/lib/python3.13/site-packages (from jupyter-core!=5.0.*,>=4.12->nbformat) (4.3.6)

### Generate and Upload Data in the database

In [2]:
import sqlite3
import pandas as pd
import plotly.express as px

In [3]:

df_students = pd.read_csv("education_career_success.csv")
df_students.dtypes

Student_ID                object
Age                        int64
Gender                    object
High_School_GPA          float64
SAT_Score                  int64
University_Ranking         int64
University_GPA           float64
Field_of_Study            object
Internships_Completed      int64
Projects_Completed         int64
Certifications             int64
Soft_Skills_Score          int64
Networking_Score           int64
Job_Offers                 int64
Starting_Salary          float64
Career_Satisfaction        int64
Years_to_Promotion         int64
Current_Job_Level         object
Work_Life_Balance          int64
Entrepreneurship          object
dtype: object

In [4]:
df_ranking = pd.read_csv("top_universities.csv")
df_ranking = df_ranking.reset_index()
df_ranking.rename(columns={'index':'university_id'}, inplace=True)
df_ranking

,university_id,University,Country,City,Global Rank
0,0,Université des Sciences et de la Technologie H...,Algeria,Algiers,3677
1,1,Université Benyoucef Benkhedda d’Alger 1,Algeria,Algiers,4919
2,2,École Nationale Supérieure d’Informatique,Algeria,Algiers,6297
3,3,École Nationale Polytechnique,Algeria,Algiers,6411
4,4,Université Abou el Kacem Saâdallah d’Alger 2,Algeria,Algiers,6421
...,...,...,...,...,...
12708,12708,Facultad de Teologa del Uruguay Mons. Mariano ...,Uruguay,Uruguay,11518
12709,12709,Politécnico de Punta del Este,Uruguay,Uruguay,11549
12710,12710,"Instituto Universitario de Docencia, Investiga...",Uruguay,Uruguay,11572
12711,12711,Instituto Metodista Universitario Crandon,Uruguay,Uruguay,11630
12712,12712,Instituto Universitario de Postgrado en Psicoa...,Uruguay,Uruguay,12698

In [5]:
df_merge = pd.merge(df_ranking,df_students,left_on =[ 'Global Rank'],right_on=['University_Ranking'], how='inner')
df_merge

,university_id,University,Country,City,Global Rank,Student_ID,Age,Gender,High_School_GPA,SAT_Score,...,Certifications,Soft_Skills_Score,Networking_Score,Job_Offers,Starting_Salary,Career_Satisfaction,Years_to_Promotion,Current_Job_Level,Work_Life_Balance,Entrepreneurship
0,195,The American University in Cairo,Egypt,New Cairo,914,S01275,21,Female,2.76,1081,...,1,8,7,4,39200.0,7,5,Mid,2,No
1,195,The American University in Cairo,Egypt,New Cairo,914,S01751,29,Male,3.62,1141,...,2,6,10,3,26500.0,7,5,Entry,8,No
2,195,The American University in Cairo,Egypt,New Cairo,914,S02855,24,Male,3.66,932,...,3,4,5,2,56200.0,8,2,Entry,6,No
3,195,The American University in Cairo,Egypt,New Cairo,914,S03043,25,Female,2.77,1521,...,5,1,1,1,38600.0,7,2,Senior,10,No
4,195,The American University in Cairo,Egypt,New Cairo,914,S04237,19,Female,3.32,1442,...,0,10,6,2,49400.0,9,3,Executive,5,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4926,12697,Universidad de la Republica,Uruguay,Uruguay,748,S01610,27,Female,2.06,1200,...,3,3,7,5,54300.0,7,4,Entry,9,No
4927,12697,Universidad de la Republica,Uruguay,Uruguay,748,S02334,23,Male,2.74,1255,...,4,6,6,1,35300.0,1,4,Mid,1,Yes
4928,12697,Universidad de la Republica,Uruguay,Uruguay,748,S03249,19,Male,3.10,1225,...,2,5,10,4,44800.0,7,1,Entry,8,No
4929,12697,Universidad de la Republica,Uruguay,Uruguay,748,S04479,18,Female,3.52,1387,...,1,9,9,2,35900.0,5,1,Senior,3,Yes
4930,12697,Universidad de la Republica,Uruguay,Uruguay,748,S04773,29,Female,2.36,1016,...,1,7,4,5,37600.0,9,5,Senior,4,No

In [6]:
df_final = df_merge[['university_id', 'University', 'Country', 'Student_ID', 'Age', 'Gender','University_Ranking', 'University_GPA', 'Field_of_Study','Starting_Salary', 'Career_Satisfaction', 'Years_to_Promotion','Current_Job_Level']]
df_final

,university_id,University,Country,Student_ID,Age,Gender,University_Ranking,University_GPA,Field_of_Study,Starting_Salary,Career_Satisfaction,Years_to_Promotion,Current_Job_Level
0,195,The American University in Cairo,Egypt,S01275,21,Female,914,2.47,Law,39200.0,7,5,Mid
1,195,The American University in Cairo,Egypt,S01751,29,Male,914,2.78,Engineering,26500.0,7,5,Entry
2,195,The American University in Cairo,Egypt,S02855,24,Male,914,2.05,Engineering,56200.0,8,2,Entry
3,195,The American University in Cairo,Egypt,S03043,25,Female,914,3.22,Computer Science,38600.0,7,2,Senior
4,195,The American University in Cairo,Egypt,S04237,19,Female,914,2.15,Computer Science,49400.0,9,3,Executive
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4926,12697,Universidad de la Republica,Uruguay,S01610,27,Female,748,3.37,Law,54300.0,7,4,Entry
4927,12697,Universidad de la Republica,Uruguay,S02334,23,Male,748,2.59,Engineering,35300.0,1,4,Mid
4928,12697,Universidad de la Republica,Uruguay,S03249,19,Male,748,3.74,Arts,44800.0,7,1,Entry
4929,12697,Universidad de la Republica,Uruguay,S04479,18,Female,748,2.43,Engineering,35900.0,5,1,Senior
4930,12697,Universidad de la Republica,Uruguay,S04773,29,Female,748,3.22,Law,37600.0,9,5,Senior

In [7]:
# Use this function to create the tables in the database.
# This function will certainly need to be called multiple times to create all the tables.
def create_table(db_name:str, table_query_creation:str):
        
    conn = sqlite3.connect(db_name)
    cursor = conn.cursor()
    cursor.execute(
        table_query_creation
           )
    conn.commit()
    conn.close()
    print(f"Database '{db_name}' has been created and populated successfully.")

In [ ]:
# add the insert sql query needed to insert the data into the tables
def uploadStudent(df_final:pd.DataFrame, db_name:str):
    conn = sqlite3.connect(db_name)
    cursor = conn.cursor()



    for _,row in df_final.iterrows():
       pass
    
    conn.commit()
    conn.close()
    print(f"Database '{db_name}' has been created and populated successfully.")

In [ ]:
uploadStudent(df_final, "education_career_success.db")

In [ ]:
def read_table_pandas(database_name:str, query:str)->pd.DataFrame:
    """This function reads a table from a SQLite database into a pandas DataFrame.
    args:
        database_name: str: the name of the SQLite database
        query: str: the SQL query to execute    
    returns:
        df: pd.DataFrame: the result of the SQL query
    """
    con = sqlite3.connect(database_name)
    df = pd.read_sql_query(query, con)
    con.close()
    return df

In [ ]:
# Count the number of students by gender using a sql query
query_gender_count = """"""

In [ ]:
read_table_pandas("education_career_success.db",query_gender_count)

In [ ]:
# query all the data from the database (SQL query)
query_all =""""""

In [ ]:
df_query = read_table_pandas("education_career_success.db", query_all).sort_values(by='startingSalary', ascending=True)
df_query

In [ ]:
# query the highest salary from the database (SQL query)
query_highest_salary = ""

In [ ]:
#query the highest salary by gender (sql)
query_highest_salary_by_gender = """

"""

In [ ]:
read_table_pandas("education_career_success.db", query_highest_salary_by_gender)

In [ ]:
#plot the average salary by gender
avg_salary_by_gender = df_query.groupby("gender")["startingSalary"].mean().reset_index()
fig = px.bar(avg_salary_by_gender, x='gender', y='startingSalary', title='Average Starting Salary by Gender')
fig.show()

In [ ]:
#plot the average starting salary by gender and university ranking
avg_salary_by_gender_ranking = df_query.groupby(["gender", "universityRanking"])["startingSalary"].mean().reset_index()
fig = px.scatter(avg_salary_by_gender_ranking, x='universityRanking', y='startingSalary', color='gender', title='Average Starting Salary by Gender and University Ranking')
fig.show()