In [92]:
!pip install plotly
!pip install --upgrade nbformat

Requirement already satisfied: plotly in /Users/derib/Documents/cours_unige/TechnologiesAndArchitectureForData/cours_moi/TP_code/.venv/lib/python3.13/site-packages (6.0.0)
Requirement already satisfied: narwhals>=1.15.1 in /Users/derib/Documents/cours_unige/TechnologiesAndArchitectureForData/cours_moi/TP_code/.venv/lib/python3.13/site-packages (from plotly) (1.27.1)
Requirement already satisfied: packaging in /Users/derib/Documents/cours_unige/TechnologiesAndArchitectureForData/cours_moi/TP_code/.venv/lib/python3.13/site-packages (from plotly) (24.2)
Requirement already satisfied: nbformat in /Users/derib/Documents/cours_unige/TechnologiesAndArchitectureForData/cours_moi/TP_code/.venv/lib/python3.13/site-packages (5.10.4)
Requirement already satisfied: fastjsonschema>=2.15 in /Users/derib/Documents/cours_unige/TechnologiesAndArchitectureForData/cours_moi/TP_code/.venv/lib/python3.13/site-packages (from nbformat) (2.21.1)
Requirement already satisfied: jsonschema>=2.6 in /Users/derib/Documents/cours_unige/TechnologiesAndArchitectureForData/cours_moi/TP_code/.venv/lib/python3.13/site-packages (from nbformat) (4.23.0)
Requirement already satisfied: jupyter-core!=5.0.*,>=4.12 in /Users/derib/Documents/cours_unige/TechnologiesAndArchitectureForData/cours_moi/TP_code/.venv/lib/python3.13/site-packages (from nbformat) (5.7.2)
Requirement already satisfied: traitlets>=5.1 in /Users/derib/Documents/cours_unige/TechnologiesAndArchitectureForData/cours_moi/TP_code/.venv/lib/python3.13/site-packages (from nbformat) (5.14.3)
Requirement already satisfied: attrs>=22.2.0 in /Users/derib/Documents/cours_unige/TechnologiesAndArchitectureForData/cours_moi/TP_code/.venv/lib/python3.13/site-packages (from jsonschema>=2.6->nbformat) (25.1.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in /Users/derib/Documents/cours_unige/TechnologiesAndArchitectureForData/cours_moi/TP_code/.venv/lib/python3.13/site-packages (from jsonschema>=2.6->nbformat) (2024.10.1)
Requirement already satisfied: referencing>=0.28.4 in /Users/derib/Documents/cours_unige/TechnologiesAndArchitectureForData/cours_moi/TP_code/.venv/lib/python3.13/site-packages (from jsonschema>=2.6->nbformat) (0.36.2)
Requirement already satisfied: rpds-py>=0.7.1 in /Users/derib/Documents/cours_unige/TechnologiesAndArchitectureForData/cours_moi/TP_code/.venv/lib/python3.13/site-packages (from jsonschema>=2.6->nbformat) (0.22.3)
Requirement already satisfied: platformdirs>=2.5 in /Users/derib/Documents/cours_unige/TechnologiesAndArchitectureForData/cours_moi/TP_code/.venv/lib/python3.13/site-packages (from jupyter-core!=5.0.*,>=4.12->nbformat) (4.3.6)

### Generate and Upload Data in the database

In [93]:
import sqlite3
import pandas as pd
import plotly.express as px

In [94]:

df_students = pd.read_csv("education_career_success.csv")
df_students.dtypes

Student_ID                object
Age                        int64
Gender                    object
High_School_GPA          float64
SAT_Score                  int64
University_Ranking         int64
University_GPA           float64
Field_of_Study            object
Internships_Completed      int64
Projects_Completed         int64
Certifications             int64
Soft_Skills_Score          int64
Networking_Score           int64
Job_Offers                 int64
Starting_Salary          float64
Career_Satisfaction        int64
Years_to_Promotion         int64
Current_Job_Level         object
Work_Life_Balance          int64
Entrepreneurship          object
dtype: object

In [95]:
df_ranking = pd.read_csv("top_universities.csv")
df_ranking = df_ranking.reset_index()
df_ranking.rename(columns={'index':'university_id'}, inplace=True)
df_ranking

,university_id,University,Country,City,Global Rank
0,0,Université des Sciences et de la Technologie H...,Algeria,Algiers,3677
1,1,Université Benyoucef Benkhedda d’Alger 1,Algeria,Algiers,4919
2,2,École Nationale Supérieure d’Informatique,Algeria,Algiers,6297
3,3,École Nationale Polytechnique,Algeria,Algiers,6411
4,4,Université Abou el Kacem Saâdallah d’Alger 2,Algeria,Algiers,6421
...,...,...,...,...,...
12708,12708,Facultad de Teologa del Uruguay Mons. Mariano ...,Uruguay,Uruguay,11518
12709,12709,Politécnico de Punta del Este,Uruguay,Uruguay,11549
12710,12710,"Instituto Universitario de Docencia, Investiga...",Uruguay,Uruguay,11572
12711,12711,Instituto Metodista Universitario Crandon,Uruguay,Uruguay,11630
12712,12712,Instituto Universitario de Postgrado en Psicoa...,Uruguay,Uruguay,12698

In [96]:
df_merge = pd.merge(df_ranking,df_students,left_on =[ 'Global Rank'],right_on=['University_Ranking'], how='inner')
df_merge

,university_id,University,Country,City,Global Rank,Student_ID,Age,Gender,High_School_GPA,SAT_Score,...,Certifications,Soft_Skills_Score,Networking_Score,Job_Offers,Starting_Salary,Career_Satisfaction,Years_to_Promotion,Current_Job_Level,Work_Life_Balance,Entrepreneurship
0,195,The American University in Cairo,Egypt,New Cairo,914,S01275,21,Female,2.76,1081,...,1,8,7,4,39200.0,7,5,Mid,2,No
1,195,The American University in Cairo,Egypt,New Cairo,914,S01751,29,Male,3.62,1141,...,2,6,10,3,26500.0,7,5,Entry,8,No
2,195,The American University in Cairo,Egypt,New Cairo,914,S02855,24,Male,3.66,932,...,3,4,5,2,56200.0,8,2,Entry,6,No
3,195,The American University in Cairo,Egypt,New Cairo,914,S03043,25,Female,2.77,1521,...,5,1,1,1,38600.0,7,2,Senior,10,No
4,195,The American University in Cairo,Egypt,New Cairo,914,S04237,19,Female,3.32,1442,...,0,10,6,2,49400.0,9,3,Executive,5,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4926,12697,Universidad de la Republica,Uruguay,Uruguay,748,S01610,27,Female,2.06,1200,...,3,3,7,5,54300.0,7,4,Entry,9,No
4927,12697,Universidad de la Republica,Uruguay,Uruguay,748,S02334,23,Male,2.74,1255,...,4,6,6,1,35300.0,1,4,Mid,1,Yes
4928,12697,Universidad de la Republica,Uruguay,Uruguay,748,S03249,19,Male,3.10,1225,...,2,5,10,4,44800.0,7,1,Entry,8,No
4929,12697,Universidad de la Republica,Uruguay,Uruguay,748,S04479,18,Female,3.52,1387,...,1,9,9,2,35900.0,5,1,Senior,3,Yes
4930,12697,Universidad de la Republica,Uruguay,Uruguay,748,S04773,29,Female,2.36,1016,...,1,7,4,5,37600.0,9,5,Senior,4,No

In [97]:
df_final = df_merge[['university_id', 'University', 'Country', 'Student_ID', 'Age', 'Gender','University_Ranking', 'University_GPA', 'Field_of_Study','Starting_Salary', 'Career_Satisfaction', 'Years_to_Promotion','Current_Job_Level']]

df_final

,university_id,University,Country,Student_ID,Age,Gender,University_Ranking,University_GPA,Field_of_Study,Starting_Salary,Career_Satisfaction,Years_to_Promotion,Current_Job_Level
0,195,The American University in Cairo,Egypt,S01275,21,Female,914,2.47,Law,39200.0,7,5,Mid
1,195,The American University in Cairo,Egypt,S01751,29,Male,914,2.78,Engineering,26500.0,7,5,Entry
2,195,The American University in Cairo,Egypt,S02855,24,Male,914,2.05,Engineering,56200.0,8,2,Entry
3,195,The American University in Cairo,Egypt,S03043,25,Female,914,3.22,Computer Science,38600.0,7,2,Senior
4,195,The American University in Cairo,Egypt,S04237,19,Female,914,2.15,Computer Science,49400.0,9,3,Executive
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4926,12697,Universidad de la Republica,Uruguay,S01610,27,Female,748,3.37,Law,54300.0,7,4,Entry
4927,12697,Universidad de la Republica,Uruguay,S02334,23,Male,748,2.59,Engineering,35300.0,1,4,Mid
4928,12697,Universidad de la Republica,Uruguay,S03249,19,Male,748,3.74,Arts,44800.0,7,1,Entry
4929,12697,Universidad de la Republica,Uruguay,S04479,18,Female,748,2.43,Engineering,35900.0,5,1,Senior
4930,12697,Universidad de la Republica,Uruguay,S04773,29,Female,748,3.22,Law,37600.0,9,5,Senior

In [98]:
df_final.drop_duplicates(subset=['Student_ID'], keep='first', inplace=True)
df_final

/var/folders/wc/4r8t_c91523cgt8st98mw_ph0000gn/T/ipykernel_32832/658339068.py:1: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,university_id,University,Country,Student_ID,Age,Gender,University_Ranking,University_GPA,Field_of_Study,Starting_Salary,Career_Satisfaction,Years_to_Promotion,Current_Job_Level
0,195,The American University in Cairo,Egypt,S01275,21,Female,914,2.47,Law,39200.0,7,5,Mid
1,195,The American University in Cairo,Egypt,S01751,29,Male,914,2.78,Engineering,26500.0,7,5,Entry
2,195,The American University in Cairo,Egypt,S02855,24,Male,914,2.05,Engineering,56200.0,8,2,Entry
3,195,The American University in Cairo,Egypt,S03043,25,Female,914,3.22,Computer Science,38600.0,7,2,Senior
4,195,The American University in Cairo,Egypt,S04237,19,Female,914,2.15,Computer Science,49400.0,9,3,Executive
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4926,12697,Universidad de la Republica,Uruguay,S01610,27,Female,748,3.37,Law,54300.0,7,4,Entry
4927,12697,Universidad de la Republica,Uruguay,S02334,23,Male,748,2.59,Engineering,35300.0,1,4,Mid
4928,12697,Universidad de la Republica,Uruguay,S03249,19,Male,748,3.74,Arts,44800.0,7,1,Entry
4929,12697,Universidad de la Republica,Uruguay,S04479,18,Female,748,2.43,Engineering,35900.0,5,1,Senior
4930,12697,Universidad de la Republica,Uruguay,S04773,29,Female,748,3.22,Law,37600.0,9,5,Senior

In [100]:
df_medicine = df_final[df_final["Field_of_Study"] == "Medicine"]
df_medicine  
df_medicine[["Field_of_Study","Gender"]].groupby("Gender").count()

        Field_of_Study
Gender
Female             317
Male               338
Other               25

In [102]:
# Use this function to create the tables in the database.
# This function will certainly need to be called multiple times to create all the tables.
def create_table(db_name:str, table_query_creation:str):
        
    conn = sqlite3.connect(db_name)
    cursor = conn.cursor()
    cursor.execute(
        table_query_creation
           )
    conn.commit()
    conn.close()
    print(f"Database '{db_name}' has been created and populated successfully.")

In [103]:
field_study_table = """
            CREATE TABLE IF NOT EXISTS FieldOfStudy (
                fieldOfStudyId INTEGER PRIMARY KEY,
                fieldOfStudyNoun TEXT UNIQUE
            );
        """
student_query = """
            CREATE TABLE IF NOT EXISTS Student (
                studentId TEXT PRIMARY KEY,
                gender TEXT,
                age INTEGER
            );
        """

university_query ="""
            CREATE TABLE IF NOT EXISTS University (
                universityId INTEGER PRIMARY KEY,
                universityRanking INTEGER UNIQUE,
                universityName TEXT,
                countryId INTEGER,
                FOREIGN KEY (countryId) REFERENCES Country(countryId)
            );
        """

country_query ="""
            CREATE TABLE IF NOT EXISTS Country (
                countryId INTEGER PRIMARY KEY,
                countryName TEXT UNIQUE
            );
        """

students_jobs_query = """
            CREATE TABLE IF NOT EXISTS StudentJobs (
                studentIdJob INTEGER PRIMARY KEY,
                startingSalary INTEGER,
                careerSatisfaction INTEGER,
                currentJobLevel TEXT,
                studentId TEXT,
                FOREIGN KEY (studentId) REFERENCES Student(studentId)
                
            );
        """
student_achievement_query = """
            CREATE TABLE IF NOT EXISTS StudentAchievementUni (
                achievementId INTEGER PRIMARY KEY,
                studentId TEXT,
                universityId INTEGER,
                universityGPA INTEGER,
                fieldOfStudyId INTEGER,
                FOREIGN KEY (studentId) REFERENCES Student(studentId),
                FOREIGN KEY (universityId) REFERENCES University(universityId),
                FOREIGN KEY (fieldOfStudyId) REFERENCES FieldOfStudy(fieldOfStudyId)
            );
        """

In [104]:
create_table("education_career_success.db", field_study_table)
create_table("education_career_success.db", student_query)
create_table("education_career_success.db", university_query)
create_table("education_career_success.db", country_query)
create_table("education_career_success.db", students_jobs_query)
create_table("education_career_success.db", student_achievement_query)

Database 'education_career_success.db' has been created and populated successfully.
Database 'education_career_success.db' has been created and populated successfully.
Database 'education_career_success.db' has been created and populated successfully.
Database 'education_career_success.db' has been created and populated successfully.
Database 'education_career_success.db' has been created and populated successfully.
Database 'education_career_success.db' has been created and populated successfully.

In [105]:
df_final

,university_id,University,Country,Student_ID,Age,Gender,University_Ranking,University_GPA,Field_of_Study,Starting_Salary,Career_Satisfaction,Years_to_Promotion,Current_Job_Level
0,195,The American University in Cairo,Egypt,S01275,21,Female,914,2.47,Law,39200.0,7,5,Mid
1,195,The American University in Cairo,Egypt,S01751,29,Male,914,2.78,Engineering,26500.0,7,5,Entry
2,195,The American University in Cairo,Egypt,S02855,24,Male,914,2.05,Engineering,56200.0,8,2,Entry
3,195,The American University in Cairo,Egypt,S03043,25,Female,914,3.22,Computer Science,38600.0,7,2,Senior
4,195,The American University in Cairo,Egypt,S04237,19,Female,914,2.15,Computer Science,49400.0,9,3,Executive
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4926,12697,Universidad de la Republica,Uruguay,S01610,27,Female,748,3.37,Law,54300.0,7,4,Entry
4927,12697,Universidad de la Republica,Uruguay,S02334,23,Male,748,2.59,Engineering,35300.0,1,4,Mid
4928,12697,Universidad de la Republica,Uruguay,S03249,19,Male,748,3.74,Arts,44800.0,7,1,Entry
4929,12697,Universidad de la Republica,Uruguay,S04479,18,Female,748,2.43,Engineering,35900.0,5,1,Senior
4930,12697,Universidad de la Republica,Uruguay,S04773,29,Female,748,3.22,Law,37600.0,9,5,Senior

In [106]:
def uploadStudent(df_final:pd.DataFrame, db_name:str):
    conn = sqlite3.connect(db_name)
    cursor = conn.cursor()



    for _,row in df_final.iterrows():
        cursor.execute("INSERT OR IGNORE INTO FieldOfStudy (fieldOfStudyNoun) VALUES (?);", (row["Field_of_Study"],))

        cursor.execute("INSERT OR IGNORE INTO Student (studentId,gender, age) VALUES (?,?,?);", (row["Student_ID"],row["Gender"],row["Age"]))

        cursor.execute("INSERT OR IGNORE INTO Country (countryName) VALUES (?);", (row["Country"],))

        country_name = row['Country']
        cursor.execute("SELECT countryId FROM Country WHERE countryName = ?;", (country_name,))
        country_id = cursor.fetchone()[0]
        
        cursor.execute("INSERT OR IGNORE INTO University (universityId,universityRanking, universityName, countryId) VALUES (?,?,?,?);", (row["university_id"],row["University_Ranking"],row["University"],country_id))

        cursor.execute("SELECT studentId FROM Student WHERE studentId = ?;",(row["Student_ID"],))
        student_id = cursor.fetchone()[0]
        cursor.execute("INSERT OR IGNORE INTO StudentJobs (startingSalary,careerSatisfaction,currentJobLevel,studentId) VALUES (?,?,?,?);", (row["Starting_Salary"],row["Career_Satisfaction"],row["Current_Job_Level"],student_id))
        cursor.execute("SELECT universityId FROM University WHERE universityName = ?;",(row["University"],))
        university_id = cursor.fetchone()[0]
        cursor.execute("SELECT fieldOfStudyId FROM FieldOfStudy WHERE fieldOfStudyNoun = ?;",(row["Field_of_Study"],))
        fieldOfStudy_id = cursor.fetchone()[0]
        cursor.execute("INSERT OR IGNORE INTO StudentAchievementUni (studentId,universityId,universityGPA,fieldOfStudyId) VALUES (?,?,?,?);", (student_id,university_id,row["University_GPA"],fieldOfStudy_id))

    
    conn.commit()
    conn.close()
    print(f"Database '{db_name}' has been created and populated successfully.")

In [107]:
uploadStudent(df_final, "education_career_success.db")

Database 'education_career_success.db' has been created and populated successfully.

In [108]:
def read_table_pandas(database_name:str, query:str)->pd.DataFrame:
    """This function reads a table from a SQLite database into a pandas DataFrame.
    args:
        database_name: str: the name of the SQLite database
        query: str: the SQL query to execute    
    returns:
        df: pd.DataFrame: the result of the SQL query
    """
    con = sqlite3.connect(database_name)
    df = pd.read_sql_query(query, con)
    con.close()
    return df

In [109]:
query_gender_count = """
SELECT gender, COUNT(*) as count
FROM Student
GROUP BY gender;
"""

In [110]:
read_table_pandas("education_career_success.db",query_gender_count)

   gender  count
0  Female   2308
1    Male   2414
2   Other    188

In [111]:
query_all = """SELECT DISTINCT Student.studentId,University.universityId,FieldOfStudy.fieldOfStudyId,gender,age,universityRanking,universityName,fieldOfStudyNoun, StudentJobs.startingSalary, careerSatisfaction, currentJobLevel
from StudentAchievementUni JOIN Student ON StudentAchievementUni.studentId = Student.studentId JOIN University on StudentAchievementUni.universityId = University.universityId 
JOIN FieldOfStudy on StudentAchievementUni.fieldOfStudyId = FieldOfStudy.fieldOfStudyId
JOIN StudentJobs ON StudentAchievementUni.studentId = StudentJobs.studentId;
"""

In [112]:
df_query = read_table_pandas("education_career_success.db", query_all).sort_values(by='startingSalary', ascending=False)
df_query

,studentId,universityId,fieldOfStudyId,gender,age,universityRanking,universityName,fieldOfStudyNoun,startingSalary,careerSatisfaction,currentJobLevel
2662,S01810,10064,7,Other,28,24,University of Southern California,Arts,101000,6,Entry
2389,S04539,9164,1,Male,21,943,Leeds Beckett University,Law,100600,6,Entry
4015,S03831,11263,7,Male,20,234,Oklahoma State University,Arts,98900,8,Entry
774,S03504,7219,2,Male,25,459,The École Normale Supérieure,Engineering,98200,4,Senior
936,S00017,7381,1,Female,20,116,The Technische Universität München,Law,97500,8,Mid
...,...,...,...,...,...,...,...,...,...,...,...
927,S02992,7328,4,Male,19,988,Hochuschule Furtwangen,Medicine,25000,5,Senior
928,S04053,7328,4,Female,23,988,Hochuschule Furtwangen,Medicine,25000,2,Senior
931,S00626,7380,4,Male,22,94,Ludwig-Maximilians-Universität München,Medicine,25000,10,Mid
4610,S02983,11748,4,Female,22,387,La Trobe University,Medicine,25000,9,Entry
3763,S04782,10985,1,Male,22,166,Fordham University,Law,25000,5,Entry

In [113]:
df_medicine = df_query[df_query["fieldOfStudyNoun"] == "Medicine"]
df_medicine        
df_medicine[["fieldOfStudyNoun","gender"]].groupby("gender").count()

        fieldOfStudyNoun
gender
Female               317
Male                 338
Other                 25

In [114]:
query_highest_salary = "SELECT MAX(startingSalary) as highest_salary FROM StudentJobs;"

In [115]:
query_highest_salary_by_gender = """
SELECT gender, MAX(startingSalary) as highest_salary
FROM StudentJobs
JOIN Student ON StudentJobs.studentId = Student.studentId
GROUP BY gender;
"""

In [116]:
read_table_pandas("education_career_success.db", query_highest_salary_by_gender)

   gender  highest_salary
0  Female           97500
1    Male          100600
2   Other          101000

In [117]:
highest_salary_by_gender = df_query.groupby("gender")["startingSalary"].max().reset_index()
print(highest_salary_by_gender)

   gender  startingSalary
0  Female           97500
1    Male          100600
2   Other          101000

In [118]:
avg_salary_by_gender = df_query.groupby("gender")["startingSalary"].mean().reset_index()
fig = px.bar(avg_salary_by_gender, x='gender', y='startingSalary', title='Average Starting Salary by Gender')
fig.show()

In [119]:
avg_salary_by_gender_ranking = df_query.groupby(["gender", "universityRanking"])["startingSalary"].mean().reset_index()
fig = px.scatter(avg_salary_by_gender_ranking, x='universityRanking', y='startingSalary', color='gender', title='Average Starting Salary by Gender and University Ranking')
fig.show()

In [120]:
query_salary_and_count_by_gender_field = """
SELECT DISTINCT gender, fieldOfStudyNoun, AVG(startingSalary) as avg_startingSalary, COUNT(Student.studentId) as student_count
FROM StudentJobs
JOIN Student ON StudentJobs.studentId = Student.studentId
JOIN StudentAchievementUni ON Student.studentId = StudentAchievementUni.studentId
JOIN FieldOfStudy ON StudentAchievementUni.fieldOfStudyId = FieldOfStudy.fieldOfStudyId
GROUP BY gender, fieldOfStudyNoun
ORDER BY FieldOfStudyNoun DESC;
"""

In [121]:
df_salary_gender_field=read_table_pandas(database_name="education_career_success.db", query = query_salary_and_count_by_gender_field)
df_salary_gender_field

    gender  fieldOfStudyNoun  avg_startingSalary  student_count
0   Female          Medicine        50679.183032           1273
1     Male          Medicine        49879.585799           1352
2    Other          Medicine        46384.761905            105
3   Female       Mathematics        50754.446855           1383
4     Male       Mathematics        51319.212163           1447
5    Other       Mathematics        48783.870968            124
6   Female               Law        50401.407460           1421
7     Male               Law        50184.187082           1347
8    Other               Law        45961.538462            104
9   Female       Engineering        50173.750000           1280
10    Male       Engineering        50615.067520           1407
11   Other       Engineering        51446.153846            104
12  Female  Computer Science        51623.102310           1212
13    Male  Computer Science        50465.506329           1264
14   Other  Computer Science        49103.030303            132
15  Female          Business        49813.107170           1297
16    Male          Business        50558.292852           1441
17   Other          Business        51896.000000            100
18  Female              Arts        50697.359029           1401
19    Male              Arts        52152.153110           1463
20   Other              Arts        54145.454545             88

In [122]:
fig = px.scatter(df_salary_gender_field, x='fieldOfStudyNoun', y='avg_startingSalary', color='gender', title='Average Starting Salary by Field of Study and Gender')
fig.show()