In [1]:
!pip install pyspark

Requirement already satisfied: pyspark in /Users/derib/data_architecture/.venv/lib/python3.13/site-packages (3.5.5)
Requirement already satisfied: py4j==0.10.9.7 in /Users/derib/data_architecture/.venv/lib/python3.13/site-packages (from pyspark) (0.10.9.7)

In [25]:
from pyspark.sql import SparkSession, Row
from pyspark.sql.functions import sum, array, struct,lit

Launching a spark cluster session

In [3]:

spark = (SparkSession.builder
          .master("local") \
          .appName("DataFrame_tutorial") \
          .config("spark.ui.showConsoleProgress","false") \
          .getOrCreate()
        )

spark

25/04/07 22:38:06 WARN Utils: Your hostname, MacBook-Pro-de-de.local resolves to a loopback address: 127.0.0.1; using 192.168.1.17 instead (on interface en0)
25/04/07 22:38:06 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/04/07 22:38:07 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
25/04/07 22:38:07 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [4]:
df_1 = spark.createDataFrame([Row(id=x)for x in range(10)])
df_2 = spark.createDataFrame([Row(id=x)for x in range(10)])

In [5]:
df_3 = df_1.filter(df_1.id>4).join(df_2,df_1.id==df_2.id) #join.(df_2,df_1==df_2.df)=transformation

In [6]:
df_3.count() #action

5

In [7]:
schema_pay_gap = "Country string,Year int, GDP int,Urban_population float,Industry float,Business float,Mining float,Manufacturing float" # Need to have both the name and the type of data of the columns

In [8]:
df_gender_pay_gap = spark.read.csv("/Users/derib/data_architecture/tp1/pay_gap_Europe.csv",schema=schema_pay_gap,header=True)

In [9]:
df_gender_pay_gap.select("Country","Year","GDP")

DataFrame[Country: string, Year: int, GDP: int]

In [10]:
df_gender_pay_gap.select("Country","Year","GDP").show(5)

+-------+----+-----+
|Country|Year|  GDP|
+-------+----+-----+
|Austria|2010|35390|
|Austria|2011|36300|
|Austria|2012|36390|
|Austria|2013|36180|
|Austria|2014|36130|
+-------+----+-----+
only showing top 5 rows

In [11]:
df_gender_pay_gap.withColumn("GDP", df_gender_pay_gap.GDP*30).show() # This will only transform the dataframe here

+-------+----+-------+----------------+--------+--------+------+-------------+
|Country|Year|    GDP|Urban_population|Industry|Business|Mining|Manufacturing|
+-------+----+-------+----------------+--------+--------+------+-------------+
|Austria|2010|1061700|            57.4|    24.0|    25.2|  18.3|         24.4|
|Austria|2011|1089000|           57.12|    23.5|    24.7|  NULL|         NULL|
|Austria|2012|1091700|           57.15|    22.9|    24.3|  NULL|         NULL|
|Austria|2013|1085400|           57.34|    22.3|    23.8|  NULL|         NULL|
|Austria|2014|1083900|           57.53|    22.2|    23.8|  15.9|         23.0|
|Austria|2015|1084200|           57.72|    21.8|    23.4|  13.7|         22.7|
|Austria|2016|1091700|           57.91|    20.8|    22.3|  14.4|         21.9|
|Austria|2017|1109400|           58.09|    20.7|    22.3|  10.9|         21.7|
|Austria|2018|1130700|            58.3|    20.4|    22.0|   7.9|         21.4|
|Austria|2019|1142700|           58.52|    19.9|    21.6|   8.0|         20.9|
|Austria|2020|1064400|           58.75|    18.9|    20.7|   6.1|         20.1|
|Austria|2021|1108500|            59.0|    18.8|    20.7|   6.9|         20.2|
|Belgium|2010| 999900|           97.65|    10.2|    15.1| -13.4|         11.5|
|Belgium|2011|1003800|            97.7|     9.4|    14.1| -10.4|         10.1|
|Belgium|2012|1004700|           97.74|     8.3|    13.0|  -7.1|          8.9|
|Belgium|2013|1004700|           97.79|     7.5|    12.1|  -4.1|          7.6|
|Belgium|2014|1016100|           97.83|     6.6|    11.0|  -1.0|          6.4|
|Belgium|2015|1030800|           97.88|     6.4|    10.8|  -1.5|          7.4|
|Belgium|2016|1038600|           97.92|     6.0|    10.4|  -2.1|          8.6|
|Belgium|2017|1051500|           97.96|     5.8|    10.2|  -2.6|          9.6|
+-------+----+-------+----------------+--------+--------+------+-------------+
only showing top 20 rows

25/04/07 22:38:10 WARN CSVHeaderChecker: Number of column in CSV header is not equal to number of fields in the schema:
 Header length: 24, schema size: 8
CSV file: file:///Users/derib/data_architecture/tp1/pay_gap_Europe.csv

In [12]:
df_gender_pay_gap.show()

+-------+----+-----+----------------+--------+--------+------+-------------+
|Country|Year|  GDP|Urban_population|Industry|Business|Mining|Manufacturing|
+-------+----+-----+----------------+--------+--------+------+-------------+
|Austria|2010|35390|            57.4|    24.0|    25.2|  18.3|         24.4|
|Austria|2011|36300|           57.12|    23.5|    24.7|  NULL|         NULL|
|Austria|2012|36390|           57.15|    22.9|    24.3|  NULL|         NULL|
|Austria|2013|36180|           57.34|    22.3|    23.8|  NULL|         NULL|
|Austria|2014|36130|           57.53|    22.2|    23.8|  15.9|         23.0|
|Austria|2015|36140|           57.72|    21.8|    23.4|  13.7|         22.7|
|Austria|2016|36390|           57.91|    20.8|    22.3|  14.4|         21.9|
|Austria|2017|36980|           58.09|    20.7|    22.3|  10.9|         21.7|
|Austria|2018|37690|            58.3|    20.4|    22.0|   7.9|         21.4|
|Austria|2019|38090|           58.52|    19.9|    21.6|   8.0|         20.9|
|Austria|2020|35480|           58.75|    18.9|    20.7|   6.1|         20.1|
|Austria|2021|36950|            59.0|    18.8|    20.7|   6.9|         20.2|
|Belgium|2010|33330|           97.65|    10.2|    15.1| -13.4|         11.5|
|Belgium|2011|33460|            97.7|     9.4|    14.1| -10.4|         10.1|
|Belgium|2012|33490|           97.74|     8.3|    13.0|  -7.1|          8.9|
|Belgium|2013|33490|           97.79|     7.5|    12.1|  -4.1|          7.6|
|Belgium|2014|33870|           97.83|     6.6|    11.0|  -1.0|          6.4|
|Belgium|2015|34360|           97.88|     6.4|    10.8|  -1.5|          7.4|
|Belgium|2016|34620|           97.92|     6.0|    10.4|  -2.1|          8.6|
|Belgium|2017|35050|           97.96|     5.8|    10.2|  -2.6|          9.6|
+-------+----+-----+----------------+--------+--------+------+-------------+
only showing top 20 rows

25/04/07 22:38:10 WARN CSVHeaderChecker: Number of column in CSV header is not equal to number of fields in the schema:
 Header length: 24, schema size: 8
CSV file: file:///Users/derib/data_architecture/tp1/pay_gap_Europe.csv

In [13]:
df_sql = spark.sql("select id from range(10)")

In [14]:
df_sql.count()

10

In [15]:
df_sql.show()

+---+
| id|
+---+
|  0|
|  1|
|  2|
|  3|
|  4|
|  5|
|  6|
|  7|
|  8|
|  9|
+---+

In [33]:
df_gender_pay_gap.columns

['Country',
 'Year',
 'GDP',
 'Urban_population',
 'Industry',
 'Business',
 'Mining',
 'Manufacturing']

In [ ]:
#add a new column provenance with the value "Kaggle"
# add a new column called InvoiceValue

+-------+----+-----+----------------+--------+--------+------+-------------+----------+
|Country|Year|  GDP|Urban_population|Industry|Business|Mining|Manufacturing|provenance|
+-------+----+-----+----------------+--------+--------+------+-------------+----------+
|Austria|2010|35390|            57.4|    24.0|    25.2|  18.3|         24.4|    kaggle|
|Austria|2011|36300|           57.12|    23.5|    24.7|  NULL|         NULL|    kaggle|
|Austria|2012|36390|           57.15|    22.9|    24.3|  NULL|         NULL|    kaggle|
|Austria|2013|36180|           57.34|    22.3|    23.8|  NULL|         NULL|    kaggle|
|Austria|2014|36130|           57.53|    22.2|    23.8|  15.9|         23.0|    kaggle|
|Austria|2015|36140|           57.72|    21.8|    23.4|  13.7|         22.7|    kaggle|
|Austria|2016|36390|           57.91|    20.8|    22.3|  14.4|         21.9|    kaggle|
|Austria|2017|36980|           58.09|    20.7|    22.3|  10.9|         21.7|    kaggle|
|Austria|2018|37690|            58.3|    20.4|    22.0|   7.9|         21.4|    kaggle|
|Austria|2019|38090|           58.52|    19.9|    21.6|   8.0|         20.9|    kaggle|
|Austria|2020|35480|           58.75|    18.9|    20.7|   6.1|         20.1|    kaggle|
|Austria|2021|36950|            59.0|    18.8|    20.7|   6.9|         20.2|    kaggle|
|Belgium|2010|33330|           97.65|    10.2|    15.1| -13.4|         11.5|    kaggle|
|Belgium|2011|33460|            97.7|     9.4|    14.1| -10.4|         10.1|    kaggle|
|Belgium|2012|33490|           97.74|     8.3|    13.0|  -7.1|          8.9|    kaggle|
|Belgium|2013|33490|           97.79|     7.5|    12.1|  -4.1|          7.6|    kaggle|
|Belgium|2014|33870|           97.83|     6.6|    11.0|  -1.0|          6.4|    kaggle|
|Belgium|2015|34360|           97.88|     6.4|    10.8|  -1.5|          7.4|    kaggle|
|Belgium|2016|34620|           97.92|     6.0|    10.4|  -2.1|          8.6|    kaggle|
|Belgium|2017|35050|           97.96|     5.8|    10.2|  -2.6|          9.6|    kaggle|
+-------+----+-----+----------------+--------+--------+------+-------------+----------+
only showing top 20 rows

25/04/07 23:07:51 WARN CSVHeaderChecker: Number of column in CSV header is not equal to number of fields in the schema:
 Header length: 24, schema size: 8
CSV file: file:///Users/derib/data_architecture/tp1/pay_gap_Europe.csv

In [ ]:
#Count the number of rows in the dataframe that have a gender pay gap for industry more than 20 and country is Austria

9